{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "spaced-line-comment": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
