.ListPage {
  &-HeaderButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &-DataTable {
    & th {
      padding: 16px 8px;
      border-bottom: 2px solid hsla(0, 0%, 0%, .5);
    }
    & td {
      padding: 8px;
      border-bottom: 1px solid hsla(0, 0%, 0%, .1);
      cursor: pointer;
    }
    & tbody tr {
      &:hover {
        background-color: hsla(0, 0%, 0%, .025);
      }
    }
  }
}
